* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    font-family: consolas;
    background-color: aqua;
    text-align: center;
}

.sketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 37px;
    height: 500px;
    margin-bottom: -70px;
    /* height: 90vh;       full height of viewport */
}

.container {
    /* flex: 1; */
    display: grid;
    /* height: 500px;
    width: 500px; */
    /* margin-top: 100px; */
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    height: 50px;
    width: 50px;
    background-color: white;
    /* border: 1px solid white; */
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    background-color: crimson;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    font-size: 18px;
    padding: 3px;
}

.reset:hover {
    cursor: pointer;
    color: crimson;
    border: 2px solid crimson;
    background-color: white;
}